@using BusTrips.Web.Models
@model ChangePasswordViewModel

<form id="changePasswordForm" method="post">
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <div class="position-relative auth-pass-inputgroup">
            <input type="password" class="form-control pe-5 password-input" placeholder="Enter current password" asp-for="CurrentPassword"
                   oncopy="return false;"
                   oncut="return false;"
                   onpaste="return false;">
            <button class="btn btn-link position-absolute me-4 end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon1"><i class="ri-eye-fill align-middle"></i></button>
        </div>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <div class="position-relative auth-pass-inputgroup">
            <input type="password" class="form-control pe-5 password-input" placeholder="Enter new password" asp-for="NewPassword"
                   oncopy="return false;"
                   oncut="return false;"
                   onpaste="return false;">
            <button class="btn btn-link position-absolute me-4 end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon2"><i class="ri-eye-fill align-middle"></i></button>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <div class="position-relative auth-pass-inputgroup">
            <input type="password" class="form-control pe-5 password-input" placeholder="Enter confirm password" asp-for="ConfirmNewPassword"
                   oncopy="return false;"
                   oncut="return false;"
                   onpaste="return false;">
            <button class="btn btn-link position-absolute me-4 end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon3"><i class="ri-eye-fill align-middle"></i></button>
        </div>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="d-flex  justify-content-end">
        <button type="submit" class="btn btn-sm btn-primary mt-4">Change Password</button>
    </div>
</form>
