<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="p-1 d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">@ViewBag.ptitle</h4>
        </div>
    </div>
</div>
<!-- end page title -->