<meta charset="utf-8" />
<title>@ViewBag.title | Chartered Bus</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Chartered Bus provides safe, reliable, and comfortable bus trips for Users, drivers, and organizations." />
<meta name="author" content="Chartered Bus" />

<!-- App favicon -->

<link rel="shortcut icon" href="~/assets/images/favicon.ico">

